trigger:
- develop  # ou 'master' ou 'main', selon ta branche principale

resources:
- repositories:
  - repository: self

variables:
  imageRepository: 'astralis-dotnet'
  dockerfilePath: '**/Dockerfile'
  dockerRegistryServiceConnection: 'ACR_Connection_Manual'

pool:
  vmImage: ubuntu-latest

steps:
- task: Docker@2
  displayName: Build and push an image to container registry
  inputs:
    command: buildAndPush
    repository: $(imageRepository)
    dockerfile: $(dockerfilePath)
    containerRegistry: $(dockerRegistryServiceConnection)
    tags: |
      $(Build.BuildId)
      latest